<!--
	Old header file
-->

<head>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/site.css">
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<!--
<nav>
	<ul>
		<li>
			<a href="{{ site.url }}">{{ site.title }}</a>
		</li>
	 		| 
		<li>
			<a href=" {{ site.url }}/projects/">Projects</a>
		</li>
	</ul>
</nav>
-->

<nav>
	<ul>
		<li>
			<a href="/" {% if page.url == "/" %}style="color: #3498db;"{% endif %}>
			Mike Solak
			</a>
		</li >
	 		| 
		<li>
			<a href="/projects/" {% if page.url == '/projects/' %}style="color: #3498db; #nav li a: hover{text-decoration: none;"{% endif %}>
			Projects
			</a>
		</li>
	</ul>
</nav>





<hr><br>


