---
---
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/* Top Nav
*/
body, button {
    font-family: 'Lora', serif;
}

#camButton {
    font-weight: bold;
    float: left;
    box-shadow: 1px 1px 3px;
    background-color: #bead96;
}
#camButton2 {
    float:left;
    box-shadow: 1px 1px 2px;
    background-color: #c6c3bf;
    display: none;
}

#camButton3, #camButton4 {
    font-weight: bold;
    float: left;
    box-shadow: 1px 1px 3px;
    background-color: #bead96;
    display: none;
}

#locButton {
    float: right;
    box-shadow: -1px 1px 2px;
    background-color: #c6c3bf;
}

#legionHeader > button {
    margin: 1px 1px;
}



.legionButton {
    padding: 10px;
}

#stats {
        height: 100px;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        display: none;

}

#legionHeader {
    position: relative;
    min-height: 50px;
    background-color: black;
    background-image: url('{{ site.baseurl }}/assets/img/legion/forest-background.jpg');
    background-size: auto;
}



#navBlocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#travel, #townShop {
    display: flex;
    flex-flow: column;
}

#travelContainer, #shopContainer, #weaponContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#travelContainer > button, #shopContainer > button, #weaponsContainer > button {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#townShop {
    display: flex;
    flex-wrap: wrap;
}

.navBlock > button, .equipmentButton, #shopContainer > button, #travelContainer > button {
    padding: auto;
    width: 150px;
    min-width: 75px;
    max-width: 300px;
    height: 100px;
    min-height: 50px;
    max-height: 200px;
    box-shadow: 0px 0px 8px;
    font-size: 1rem;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.navBlock > button:active, #goToShopButton:active, #healButton:active, .equipmentButton:active, #shopContainer > button:active {
    box-shadow: 0px 1px 4px;
    background-color: #4c4c4c;
    color: #cccccc;
}



#camp {
    display: block;
}

#camp > section {
    width: 10em;
    margin: 0;
    display: inline-block;
    align-content: left;
}

.moreInfo {
    display: none;
}

#currentStats, #recentEvents > p, #locationTips > p {
    text-align: left;
}
.moreInfoSection {
    vertical-align: top;
    height: 250px;
    display: flex;
    flex-flow: space-evenly;
}

#log {
    max-height: 100vh;
    overflow: auto;
}

#recentEventsUL {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}

#recentEventsUL > li {
    text-align: left;
    padding-bottom: 4px;
}

#recentEventsUL > li:nth-child(1):before  {
    content: "Today: ";
    font-weight: bold;
}

#recentEventsUL > li:nth-child(2):before  {
    content: "1 Day Ago: ";
    font-weight: bold;
}

#recentEventsUL > li:before {
    content: "2 Days Ago: ";
    font-weight: bold;
}

#inventoryItems, #inventoryArmorItems {
    align-content: center;
}

#inventoryItems > button, #inventoryArmorItems > button {
    display: none;
    align-self: center;
}



#logUL > li {
    border-bottom: solid .1px #989898;
}

#goToShopButton, #healButton, #leaveTownButton {
    display: none;
}

#goToShopButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/shoppe-icon4.png'); 
}

#goToTownButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/town-icon2.png'); 
}

#goToForestButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/forest-icon.png'); 
}

#goToMountainsButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/mountains-icon.png'); 
}

#goToDesertButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/desert-icon.png'); 
}

#healButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/heal-icon4.png'); 
    background-repeat: no-repeat;
    background-position: center;
}

#leaveTownButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/leaveTown-icon.png'); 
}

.navBlock > button, .equipmentButton {
    background-repeat: no-repeat;
    background-position: center top;
}

#campButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/camp-icon25.png'); 
}
#inventoryButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/inventory-icon25.png'); 
}
#travelButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/travel-icon25.png'); 
}
#logButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/log-icon25.png'); 
}

#inventoryItems > button, #inventoryArmorItems > button, #shopContainer > button {
    background-repeat: no-repeat;
    background-position: center top;
}

#buySmallSpearButton, #equipSmallSpearButton{
    background-image: url('{{ site.baseurl }}/assets/img/legion/spear-icon25.png')
}

#buySimpleBowButton, #equipSimpleBowButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/bow-icon25.png')
}

#buyShortSwordButton, #equipShortSwordButton {
    background-image: url('{{ site.baseurl }}/assets/img/legion/sword-icon25.png')
}

#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
  }
#healthDiv, #curHealthDiv, #maxHealthDiv, #imgButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

body #healthDiv {
    max-width: 50px;
    position: relative;
    margin: 0px;
    padding 0px;
    display: inline-block;
    float: left;
}

#healthBackgroundDiv {
    top: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 0;
    background-color: #c6c3bf;
}

#maxHealthDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    background-color: #c6c3bf;
}
#curHealthDiv {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    height: 0%;
    background-color: #c6c3bf;
}
#imgButton {
    float: left;
    box-shadow: 1px 1px 2px;
    height: 50px;
    width: 50px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

#hpSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: 1;
    background-color: rgb(173, 144, 144, .8);
    width: 100%
}

#hpSpanCur {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: 1;
    background-color: #A31F1F;
    width: 100%
}
