@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/* Top Nav
*/
body, button {
    font-family: 'Lora', serif;
}
#imgButton {
    float: left;
    box-shadow: 1px 1px 2px;
    height: 60px;
    width: 60px;
}

#camButton {
    float: left;
    box-shadow: 1px 1px 2px;
    background-color: #bead96;
}
#camButton2 {
    float:left;
    box-shadow: 1px 1px 2px;
    background-color: #c6c3bf;
    display: none;
}

#locButton {
    float: right;
    box-shadow: -1px 1px 2px;
}

#legionHeader > button {
    margin: 1px 1px;
}



.legionButton {
    padding: 10px;
}

#stats {
        height: 100px;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        display: none;

}

#legionHeader {
    position: relative;
    min-height: 50px;
    background-image: linear-gradient(white 50%, grey);
}



.navBlock {
    display: inline-block;
    margin-bottom: 4px;
}

.navBlock > button, #goToShopButton, #healButton, .equipmentButton, #shopContainer > button {
    padding: auto;
    width: 150px;
    min-width: 75px;
    max-width: 300px;
    height: 100px;
    min-height: 50px;
    max-height: 200px;
    box-shadow: 0px 0px 3px;
    font-size: 1rem;
}

#camp {
    display: block;
}

#camp > section {
    width: 10em;
    margin: 0;
    display: inline-block;
    align-content: left;
}

.moreInfo {
    display: none;
}

#currentStats, #recentEvents > p, #locationTips > p {
    text-align: left;
}
.moreInfoSection {
    vertical-align: top;
    height: 250px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
  }


