body {
	font-family: Garamond;
	background-color: #EBE8E4;
	color: #222;
	margin: 20px auto 15px auto;
	max-width: 800px;
	width: auto;
	display: block;
}

nav {
	font-size: 24px;
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.055);
	padding: 0px 26px;
	color: #888;
	align-self: center;
	margin: auto;
	max-width: 800px;
	width: auto;
	display: block;
	align-content: center;
	text-align: center;
	margin-bottom: 20px;

}

ul {

	align-self: center;
	margin: auto;
	max-width: 855px;
	width: auto;
	padding: 15px 5px;
	list-style-type: none;
}
nav li {
	display: inline-block;
	

	list-style: none;
	color: white;
	
	
}

nav li a:link, nav li a:visited {
	color: #888;
	text-decoration: none;

}

nav li:hover {
	text-decoration: underline;
}

.section {
	background-color: #fff;
	align-self: center;
	text-align: center;
	margin: 15px auto 15px auto;
	max-width: 800px;
	width: auto;
	padding: 20px 20px;
	box-shadow: 0px 0px 1px black;
	border-radius: 2px;
	border-style: solid;
	border-width: 5px;
	border-color: #D3D2CD;

}

article {
	height: 100%;
}

article li {
	padding: 15px 15px;
	list-style-type: none;

}

article a {
	color: #726870;
}
