body {
	background-color: #e9ebee;
}

ul {
	align-self: center;
	margin: auto;
	max-width: 855px;
	width: auto;
	padding: 15px 5px;
	list-style-type: none;
}

.section, section {
	background-color: #fff;
	align-self: center;
	text-align: center;
	margin: 15px auto 15px auto;
	max-width: 800px;
	width: auto;
	padding: 20px 20px;
	box-shadow: 0px 0px 1px black;
	border-radius: 2px;
	border-style: solid;
	border-width: 5px;
	border-color: #D3D2CD;
	-webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
	-moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
	box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

a:link, a:visited {
	color: #2a2f36;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
	color: #bead96;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-ms-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

article {
	height: 100%;
}

article li {
	padding: 15px 15px;
	list-style-type: none;
}

article a {
	color: #726870;
}



img {
	height: auto;
	width: 100%;
	transition: transform .2s;
}

img:hover {
	transform: scale(1.05);
}
