#woodChop {
	min-height: 240px;
	min-width: 240px
	font-color: white;
}

#woodChop:hover {}

 .more {
      outline: none;
      display: block;
      width: 100%;
      padding: 6px 0;
      text-align: center;
      border: 1px solid #ddd;
      border-bottom: 1px solid #aaa;
      border-right: 1px solid #aaa;
      background-color: #dfd;
      background-repeat: repeat-x;
      background-position: left top;
      font-size: 14px;
      text-shadow: 1px 1px 1px #fff;
      font-weight: bold;
      min-height: 240px;
      min-width: 240px;
      line-height: 1.5em;
      margin-bottom: 6px;
    }
    
    .more:hover {
      border: 1px solid #bbb;
      text-decoration: none;
      background-position: left -78px;
      color: green;
      cursor: pointer;
    }
    
    .more:active {
      color: #666;
      background-position: left -38px;
    }
    
    .round {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

img {
	pointer-events: none;
	user-select: none;
}