<!DOCTYPE html>
<html>
	<head>
		{% seo %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/site2.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/navbarGame.css">
		
        <meta charset="UTF-8">
	</head>
	<body class=wrapper>
		{% include navbarGame.html %}
		
		{{ content }}

	</body>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/navbarGame.js"></script>
</html>