<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/navbar2.css">
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/navbar2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mike Solak</title>
</head>

<body>

  <header>
    <nav>
      <div id="navbar">
          <div id="logo" class="reverse">
            <div class="mobile-btn" style="font-size:30px;cursor:pointer; font-weight:bold;" onclick="openNav()">&#9776;</div>
            <div class="logo">Mike<span> Solak</span></div>

          </div>
          <div id="links">
            	
            <a href="/" {% if page.url == "/" %}style="color: #3498db;"{% endif %}> Home </a>
  			    <a href="/projects/" {% if page.url == '/projects/' %}style="color: #3498db; #nav li a: hover{text-decoration: none;"{% endif %}>Projects</a>
           	<a href="/contact/" {% if page.url == '/contact/' %}style="color: #3498db; #nav li a: hover{text-decoration: none;"{% endif %}>Contact</a>
       		<!--

       		<a href="/">Home</a>
          <a href="">Projects</a>
          <a href="">Contact</a>
          -->
          </div>
      </div>

    </nav>
    <!-- Mobile Menu -->
    <div id="mySidenav" class="sidenav">
      <a style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" {% if page.url == "/" %}style="color: #fff;"{% endif %}> Home </a>
      <a href="/projects/" {% if page.url == '/projects/' %}style="color: #fff; "{% endif %}>Projects</a>
      <a href="/contact/" {% if page.url == '/contact/' %}style="color: #fff; "{% endif %}>Contact</a>
    </div>
  </header>

</body>

</html>

<!-- <section>
  <div style="border:solid 1px #fff; padding-top:50px; text-align:center">
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fewebdesigns%2F&width=450&layout=standard&action=like&size=small&show_faces=true" width="450" height="80" style="border:none;overflow:hidden"></iframe>
  </div>
</section> -->