---
title: "Wood Chop"
layout: wrapper
---

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/woodchop.css">

<main>
	<div class="section">
		<h3>Wood Cutting</h3>
		<p><b>Current Axe:</b> <span id="axeType"></span></p>
		<a class="more round" id="chopWood">
			<img id="axeImg" src="{{site.url}}/assets/img/woodchop/hand.png">
			<p>Chop</p>
		</a>
		<p><b>Amount of Wood:</b> <span id="woodAmt">0</span></p>
	</div>
	<div class="section">
		<h3>Store</h3>
		<p><b>Coins available: </b><span id="coinAmt">0</span></p>

		<button id="sellWood">Sell: 1 Wood</button>
		<button id="sellWood5x">Sell: 5 Wood</button>
		<button id="sellWood25x">Sell: 25 Wood</button>
		<button id="sellWood100x">Sell: 100 Wood</button>
		<p>Axes For Sale:</p>
		<button id="buyBronzeAxe">Bronze Axe (-10 coins, +2 wood per chop)</button>
		<button id="buyIronAxe">Iron Axe (-50 coins, +3 wood per chop)</button>
		<button id="buySteelAxe">Steel Axe (-250 coins, +5 wood per chop)</button>
		<p></p>
		<button id="buyTitaniumAxe">Titanium Axe (-1000 coins, +25 wood per chop)</button>
		<button id="buyDiamondAxe">Diamond Axe (-2500 coins, +50 wood per chop)</button>
		<p></p>
		<button id="buyFireAxe">Fire Axe (-10,000 coins, +175 wood per chop)</button>

	</div>
</main>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='{{site.url}}/assets/js/woodchop.js'>
</script>
</html>