<!DOCTYPE html>
<html>
<head>

	{% seo %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/site2.css">
  	<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/navbar2.css">
 	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/navbar2.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<meta charset="UTF-8">


</head>
<body>

	{% include navbar2.html %}
	
		{{ content }}


</body>
</html>